body {
    background-color: #eeb2df;
    color: rgb(0, 0, 0);
    font-family: "system-ui";
    font-size: 24px;
}
table {
    width: 70%;
    background-color: #6d0d50;
    border-width: 1px;
    border-style: dashed;
    border-color: #000000;
    margin: auto;
}
td {
    padding-left: 15px;
    height: 100px;
    border-color: rgb(231, 59, 203);
    border-width: 1px;
    border-style: solid;	
    text-align: center;
}
td.quest {
    height: 90px;
    background-color: #e98dd9;
    color: #000000;
}
td.answer {
    height: 60px;
}
div {
    text-align: center;
}
div.help {
    color: #b46464;
    font-size: 14px;
    margin-bottom: 4px;
}
img {
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    width: 500px;
}